.header {
  height: 50px;
  width: 400px;
  // background-color: #ffbf00;
  background-color: white;
}

.body {
  height: 50px;
  // width: 400px;
  max-width: 300px;
  max-height: 500px;
  height: 500px;
  background-color: white;
}

.footer {
  height: 50px;
  width: 400px;
  // background-color: #ffbf00;
  background-color: white;
}

.ant-popover-inner-content {
  // background-color: #ffbf00;
  background-color: white;
}
