.Button {
  //크기
  height: 60px;
  width: 60px;
  //위치
  right: 17%;
  bottom: 20px;
  position: fixed;
  //형태
  // border-radius: 50px;
  //색
  // background-color:  blue;
  cursor: pointer;
  //버튼 내부 내용
  // font-size: 2px;
  color: white;
  //애니메이션
  // transition: 0.125s all ease-in;
  // &:hover {
  //     transform: rotate(45deg);
  // }
}

.ant-popover-inner {
  border: 1px solid #bdbdbd;
  // border-radius: 20px;
  border-radius: 30px;
}

.ant-popover-arrow {
  // background-color: #ffbf00;
  background-color: black;
}

.ant-popover-arrow-content {
  background-color: black;
}
