.clear {
  clear: both;
}

.from-me {
  position: relative;
  padding: 5px 20px;
  // color: white;
  color: black;
  background: yellow;
  text-align: left;
  border-radius: 25px;
  max-width: 200px;
  float: right;
}
.from-me:before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -2px;
  right: -7px;
  height: 20px;
  border-right: 20px solid #0b93f6;
  border-bottom-left-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}
.from-me:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -30px;
  width: 15px;
  height: 20px;
  //   background: #0B93F6;
  // background: #ffffff;
  border-bottom-left-radius: 300px;
  -webkit-transform: translate(-30px, -2px);
}

.from-them {
  float: left;
  position: relative;
  padding: 10px 20px;
  background: #e5e5ea;
  border-radius: 25px;
  max-width: 300px;
  color: black;
  text-align: left;
}

.testClass {
  text-align: right;
  overflow: auto;
  height: 500px;
  width: 400px;
  overflow-x: hidden;
  margin-left: 0;
  background-color: white;
}

.cards {
  clear: both;
  width: 335px;
  height: 200px;
}

.category {
  margin-left: 15px;
  padding-top: 20px;
  float: left;
  position: relative;
  padding: 2px 15px;
  // background: #e5e5ea;
  border-radius: 20px;
  max-width: 300px;
  margin-bottom: 20px;
}

.notice {
  clear: both;
  float: left;
  position: relative;
  padding: 10px 20px;
  // background: #e5e5ea;
  border-radius: 25px;
  max-width: 500px;
  color: black;
  text-align: left;
  margin-bottom: 20px;
}

// .ant-popover-arrow {
//   background-color: black;
// }
