body {
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-weight: normal;
}

// section {
//   max-width: 450px;
//   margin: 50px auto;
// }
section div {
//   max-width: 255px;
  word-wrap: break-word;
  margin-bottom: 20px;
  line-height: 24px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.clear {
  clear: both;
}

.from-me {
  position: relative;
  padding: 1px 20px;
  color: white;
  background: #0B93F6;
  border-radius: 25px;
  max-width: 200px;
  float: right;
}
.from-me:before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -2px;
  right: -7px;
  height: 20px;
  border-right: 20px solid #0B93F6;
  border-bottom-left-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}
.from-me:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -30px;
  width: 15px;
  height: 20px;
//   background: #0B93F6;
// background: #ffffff;
  border-bottom-left-radius: 300px;
  -webkit-transform: translate(-30px, -2px,);
}

// .from-me:after {
//     content: "";
//     position: absolute;
//     z-index: 1;
//     bottom: -2px;
//     right: -56px;
//     width: 26px;
//     height: 20px;
//     // background: white;
//     border-bottom-left-radius: 10px;
//     -webkit-transform: translate(-30px, -2px);
//   }

.from-them {
  float: left;
  position: relative;
  padding: 2px 20px;
  background: #E5E5EA;
  border-radius: 25px;
  max-width: 300px;
  color: black;
  text-align: left;
}
// .from-them:before {
//   content: "";
//   position: absolute;
//   z-index: 2;
//   bottom: -2px;
//   left: -7px;
//   height: 20px;
//   border-left: 20px solid black;
//   border-bottom-right-radius: 16px 14px;
//   -webkit-transform: translate(0, -2px);
// } //챗봇 말꼬리 부분
.from-them:after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -2px;
  left: 4px;
  width: 26px;
  height: 20px;
  background: #81DAF5;
  border-bottom-right-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}




.testClass {
  text-align: right;
  overflow : auto ;
  height : 400px;
  width : 340px ;
  // width : 100% ;
  overflow-x: hidden;
  // overflowX : 
}

.from-them1 {
  float: left;
  position: relative;
  padding: 2px 20px;
  background: #E5E5EA;
  border-radius: 25px;
  // max-width: 800px;
  max-height: 600px;
  // height: 200px;
  color: black;
  text-align: left;
  width: 300px;
}
// .from-them1:after {
//   content: "";
//   position: absolute;
//   z-index: 3;
//   bottom: -2px;
//   left: 4px;
//   width: 26px;
//   height: 20px;
//   background: #81DAF5;
//   border-bottom-right-radius: 10px;
//   -webkit-transform: translate(-30px, -2px);
// }