.cardContent {
  // height: 70px;
  max-height: 70px;
  background-color: #f5f6ce;
  text-align: center;
}

// .slick-list {
//   margin-bottom: 20px;
// }

.itemButton {
  margin-bottom: 0px;
  width: 100px;
  height: 25px;
}

// .sc-dlfnuX.ifRVvm {
//   margin-bottom: 200px;
// }

.cards {
  margin-bottom: 50px;
}
