.cardContent {
  height: 70px;
  background-color: yellow;
  text-align: center;
}

// .slick-list {
//   margin-bottom: 20px;
// }

.itemButton {
  margin-bottom: 0px;
  width: 100px;
  height: 25px;
}

// .sc-dlfnuX.ifRVvm {
//   margin-bottom: 200px;
// }

.cards {
  margin-bottom: 30px;
}
